@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Raleway&family=Roboto+Condensed&family=Yellowtail&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0;
  background-color: #020205;
  height: auto;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(255, 255, 255, 0.2),
    -30px 0px 40px rgba(255, 255, 255, 0.2);
}

#landing {
  background: white;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #9e579d;
}

#landing-image {
  background: url("./images/IMGL3612.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px solid #9e579d;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease-in;
}

.btn:hover {
  background: #fef0ff;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #f3f8ff;
  color: #562349;
}

#header h2 {
  border-right: dotted 1px #562349;
  border-left: 1px dotted #562349;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
  color: #ffffff;
}

main #skill {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.box {
  box-shadow: 0 2px 10px rgba(0, 255, 255, 0.2);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: box-shadow 0.2s ease-out;
}

.box img {
  width: 100%;
  object-fit: cover;
  height: 200px;
}

.box:hover {
  box-shadow: 0 0 10px 1.5px darkgoldenrod;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #fef0ff;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

/* screen sizes 500px and up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

/* screen sizes 700px and up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }

  main #skill {
    grid-template-columns: repeat(5, 1fr);
  }
}
